In [23]:
import pandas as pd

In [24]:
data_location = "./melb_data.csv"
data = pd.read_csv(data_location)
data.head(3)

,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,Postcode,...,Bathroom,Car,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount
0,Abbotsford,85 Turner St,2,h,1480000.0,S,Biggin,3/12/2016,2.5,3067.0,...,1.0,1.0,202.0,NaN,NaN,Yarra,-37.7996,144.9984,Northern Metropolitan,4019.0
1,Abbotsford,25 Bloomburg St,2,h,1035000.0,S,Biggin,4/02/2016,2.5,3067.0,...,1.0,0.0,156.0,79.0,1900.0,Yarra,-37.8079,144.9934,Northern Metropolitan,4019.0
2,Abbotsford,5 Charles St,3,h,1465000.0,SP,Biggin,4/03/2017,2.5,3067.0,...,2.0,0.0,134.0,150.0,1900.0,Yarra,-37.8093,144.9944,Northern Metropolitan,4019.0

In [4]:
data.tail(3)

,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,Postcode,...,Bathroom,Car,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount
13577,Williamstown,83 Power St,3,h,1170000.0,S,Raine,26/08/2017,6.8,3016.0,...,2.0,4.0,436.0,NaN,1997.0,NaN,-37.85274,144.88738,Western Metropolitan,6380.0
13578,Williamstown,96 Verdon St,4,h,2500000.0,PI,Sweeney,26/08/2017,6.8,3016.0,...,1.0,5.0,866.0,157.0,1920.0,NaN,-37.85908,144.89299,Western Metropolitan,6380.0
13579,Yarraville,6 Agnes St,4,h,1285000.0,SP,Village,26/08/2017,6.3,3013.0,...,1.0,1.0,362.0,112.0,1920.0,NaN,-37.81188,144.88449,Western Metropolitan,6543.0

In [10]:
is_null_result = data.isnull()
print(is_null_result.head(3))

   Suburb  Address  Rooms   Type  Price  Method  SellerG   Date  Distance  \
0   False    False  False  False  False   False    False  False     False
1   False    False  False  False  False   False    False  False     False
2   False    False  False  False  False   False    False  False     False

   Postcode  ...  Bathroom    Car  Landsize  BuildingArea  YearBuilt  \
0     False  ...     False  False     False          True       True
1     False  ...     False  False     False         False      False
2     False  ...     False  False     False         False      False

   CouncilArea  Lattitude  Longtitude  Regionname  Propertycount
0        False      False       False       False          False
1        False      False       False       False          False
2        False      False       False       False          False

[3 rows x 21 columns]

In [8]:
#is_null_result = data.notnull()
#print(is_null_result.head(3))

In [11]:
cant_null = is_null_result.sum()
cant_null

Suburb              0
Address             0
Rooms               0
Type                0
Price               0
Method              0
SellerG             0
Date                0
Distance            0
Postcode            0
Bedroom2            0
Bathroom            0
Car                62
Landsize            0
BuildingArea     6450
YearBuilt        5375
CouncilArea      1369
Lattitude           0
Longtitude          0
Regionname          0
Propertycount       0
dtype: int64

In [12]:
data_column_full = data.dropna(axis=1)
print(data.shape)
print(data_column_full.shape)

(13580, 21)
(13580, 17)

In [16]:
data_fila_full = data.dropna()
print(data.shape)
print(data_fila_full.shape)

(13580, 21)
(6196, 21)

In [17]:
pd.value_counts(data.Car)

/var/folders/zn/2r0x1mkx23n68pydslhg72dh0000gn/T/ipykernel_2373/288804306.py:1: FutureWarning: pandas.value_counts is deprecated and will be removed in a future version. Use pd.Series(obj).value_counts() instead.
  pd.value_counts(data.Car)

Car
2.0     5591
1.0     5509
0.0     1026
3.0      748
4.0      506
5.0       63
6.0       54
8.0        9
7.0        8
10.0       3
9.0        1
Name: count, dtype: int64

In [19]:
data_car_2_mask = data.Car == 2
data_car_count = data_car_2_mask.sum()
print(data_car_count)
data_car_2_fill =data.Car.fillna(2)
data_car_null_mask = data.Car.isnull()
data_car_null_count = data_car_null_mask.sum()
print(data_car_null_count )

5591
62

In [20]:
data.BuildingArea.isnull().sum()

6450

In [26]:
precio_m2 = data.apply(lambda x:0 if x["Landsize"]==0 else x["Price"]/x["Landsize"],axis=1)
precio_m2.head(10)

0     7326.732673
1     6634.615385
2    10932.835821
3     9042.553191
4    13333.333333
5     5198.895028
6     7657.142857
7     6390.625000
8        0.000000
9     4986.363636
dtype: float64

In [30]:
import re

# Correo electrónico de ejemplo
email = "estoesunnombre@gmail.com"

# Expresión regular para capturar el nombre, dominio y TLD
pattern = r"^(\w+)@(\w+)\.(\w+)$"

# Buscar coincidencias
match = re.match(pattern, email)

if match:
    nombre = match.group(1)   # Captura el nombre antes del @
    dominio = match.group(2)  # Captura el dominio después del @
    tld = match.group(3)      # Captura el TLD (.com, .ar, etc.)

    print(f"Nombre: {nombre}")
    print(f"Dominio: {dominio}")
    print(f"TLD: {tld}")
else:
    print("El correo electrónico no coincide con el patrón.")

Nombre: estoesunnombre
Dominio: gmail
TLD: com